body {
    background-color: rgb(15, 13, 13)
    
}
h1 {
    color: #ffffff;
}
p {
    color: rgb(204, 179, 245)
}
h2 {
    color: #a689be;
    font-size: 18px;
}
.codewars {
    color: #cf2d2d;
}
h3 {
    color: rgb(161, 120, 255)

}
#done {
    color: #8e11f5;
}
#lengt {
    color: #7911ce;
    
}